/* start general */
body{
    font-family: 'Roboto', 'sans-serif';
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}

p, li {
    color: #032e5a;
    font-size: 14px;
}
a {
    text-decoration: none;
}
.hr_total_screen{
    width: 100%;
}
/* stop general */
/* ---------------------------------------*/
/* start navbar general */
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
/*stop navbar general */
/*----------------------------------------*/
/* start navbar one*/
#nav-one {
    background-color: #e91d29;
    height: 30px;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 13px;
}

#nav-one li {
    color: white;
}

#nav-one a {
    color: white;
}

#nav-one li:hover {
    color: white;
}
#nav-one a:hover {
    color: white;
}

#nav-one .navbar-expand-lg .navbar-nav .navlink{
    padding: 1rem .8rem;
}

#about-top-navbar{
    background-color: #032e5a;
    height: 32px;
}

/* stop navbar one*/
/* ---------------------------------------*/
/* start navbar two */
#nav-two{
    padding-top: 5%;
}
#logo{
    width: 170px;
}

#east_logo {
    padding-top: 8px;
    padding-left: 15px;
}

#nav-two .navbar-brand {
    padding-right: 5%;
}

.navbar-brand{
    padding: 0;
    color: #032e5a;
}

.navbar-brand:hover{
    color: #032e5a;
}

#search{
    background-color: #ebebeb;
}

#call {
    color: #032e5a;
    padding-left: 25%;
    text-align: justify;
    line-height: 4px;
}

.icon-navbar {
    font-size: 30px;
    padding-left: 10%;
    color: #e92728;
}

p.info-text-call {
    font-weight: 100;
    font-size: 12px;
}

p.number-call {
    font-weight: bold;
    font-size: 20px;
}

.icon-search-block {
    width: 0px;
}

.search-icon{
    font-size: 20px;
    margin-top: 3px;
    margin-left: -30px;
}

.text-icon {
    padding-left: 44px;
    font-size: 12px;
}

.qtdy-calculator{
    padding-left: 32px;
}
/* stop navbar two*/
/* ---------------------------------------*/

/* start navbar tree menu */
#menu_block{
    background-color: white;
}
#menu-container{
    padding-top: 0;
    padding-bottom: 0;
}
#nav-tree li{
    color: #032e5a;
    padding-right: 30px;
}
#nav-tree a {
    color: #032e5a;
    font-weight: bold;
}
#nav-tree li:hover {
    color: #032e5a;
    font-weight: bold;
}
#nav-tree a:hover {
    color: #032e5a;
}

.down-arrow-menu {
    color: #e92728;
}

.top-link-menu{
    position: absolute;
    top: 0;
    color: #777576;
}

/* stop navbar tree menu */
/* ---------------------------------------*/
/* start content banner block */

.container-fluid{
    padding: 0;
}

#main_slider .carousel-caption.d-none.d-md-block.content-text-banner {
    text-align: inherit;
}

#main_slider .carousel-caption.d-none.d-md-block.content-text-banner h2{
    font-weight: bold;
}

#main_slider .images-logo-banner img {
    padding-right: 15px;
}

/* stop content banner block */
/* ---------------------------------------*/

/* start content top-stray block */
#block_blue_stray{
    background-color: #032e5a;
}

#block_top_stray img {
    width: 110px;
}

#block_top_stray, #block_top_stray p {
    color: #7c7b7b;
    text-align: center;

}

.imgs-brands .margin-img-brand {
    margin-right: 25px;
}

.imgs-brands .row {
    align-items: center;
}

#block_top_stray .wt-img-below-banner {
    width: 70px;
}

#block_top_stray .m-img-below-banner {
    width: 55px;
}

#block_top_stray .wood-img-below-banner {
    width: 125px;
}

#block_top_stray .motor-img-below-banner {
    width: 95px;
}
/* stop content top-stray block */
/* ---------------------------------------*/

/* start content stray block */
#block_stray{
    position: relative;
}
#block_stray .text-stray {
    color: white;
    text-align: initial;
    margin-top: 30px;
    margin-left: 13px;
}

.btn-view-text {
    background-color: #e92728;
    color: white;
    border-radius: 0;
}
.btn-view-text:hover{
    background-color: #e92728;
    color: white;
}

#block_stray .logo-stray {
    margin-top: 35px;
}

#block_stray .img-stray {
    background-image: url(http://teste-sonco.triartec.com.br/images/stray_foto2.png);
    background-repeat: no-repeat;
    margin-top: -11em;
}

.text-blue{
    color: #032e5a;
}
/* stop content stray block */
/*---------------------------------------*/

/* start content block titans */
#block_titans{
    position: relative;
}
#block_titans .photo-titan-logo {
    padding-top: 6em;
    padding-left: 10em;
}

#block_titans .img-hut-flag-titans {
    padding-left: 6em;
    position: absolute;
    top: 0;
    top: 18em;
}
/* stop content block titans */
/*---------------------------------------*/
/* start content block titans */
#block_wt {
    background-color: #e6e6e6;
    position: relative;
    margin-top: 15%;
}
#block_wt .logo-wt{
    width: 20%;
}

#block_wt .text-wt{
    padding-left: 7%;
}

#block_wt .photo-wt-barricade {
    margin-top: -12em;
    margin-left: 14em;
}

#block_veteran .text-content {
    padding: 10em;
}

#block_veteran .img-fluid.photo-veteran-banner {
    position: relative;
    width: 400px;
    top: -5em;
    left: 22em;
}

#block_milhaus{
    background-color: #e6e6e6;
}

#block_milhaus .photo-m-building {
    max-width: 600px;
    position: absolute;
    margin-left: 0;
}

#block_milhaus .logo-milhaus {
    width: 120px;
}

#block_milhaus .img-fluid.photo-m-banner {
    width: 90%;
    position: relative;
    top: 11%;
}

#block_milhaus .text-milhaus {
    padding-left: 7%;
}

#block_woodstock .photo-wood-banner {
    position: relative;
    top: 70%;
    left: 10%;
}

#block_woodstock .img-fluid.photo-wood-flag {
    position: absolute;
}
#block_woodstock .img-fluid.photo-wood-logo {
    position: relative;
    padding-left: 13em;
    top: 7em;
}

#block_woodstock .img-content {
    padding-left: 6%;
}

#block_woodstock .text-content {
    margin-top: 7%;
}

#block_white_house{
    position: relative;
    background-color: #e6e6e6;
    margin-top: 10%;
}

#block_white_house .img-fluid.photo-wh-foto {
    position: relative;
}

#block_white_house .img-fluid.photo-wh-banner {
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 0;
}

#block_white_house .text-content {
    padding-top: 3%;
    padding-left: 9%;
}

#block_harley{
    position: relative;
}
#block_harley .img-fluid.photo-motor-logo {
    width: 180px;
    margin-left: 5%;
}

#block_harley .img-fluid.photo-motor-foto {
    position: relative;
}
img.img-fluid.photo-motor-banner {
    position: relative;
    width: 400px;
    top: 10%;
    left: 40%;
}

#block_harley .img-fluid.photo-motor-foto2 {
    position: absolute;
    bottom: 0;
}
#block_harley .img-fluid.photo-motor-foto2 {
    position: absolute;
    bottom: 0;
    width: 400px;
}

#block_harley .text-blue {
    padding-left: 20%;
    padding-top: 8%;
}

#block_harley .photo-motor-logo {
    margin-top: 9%;
}
/* stop content block titans */
/*---------------------------------------*/

/* start footer block */

#footer_one_block{
    background-color: #e6e6e6;
}

#footer_one_block .icons-social i {
    font-size: 25px;
}

#footer_one_block .col-md-1 {
    padding-right: 0;
    padding-left: 0;
    margin-right: 6px;
}

#footer_one_block .icons-social .col-md-4 {
    border-right: solid #d2d1d1 1px;
}


.text-footer-sub {
    color: #7d7d7d;
}

.title-footer {
    font-weight: bold;
}

.request-footer {
    margin-top: 3%;
}

.subscribe-footer .title-footer {
    margin-left: 20px;
}

.subscribe-footer .text-footer-sub {
    margin-left: 20px;
}

.btn-subscribe-emial {
    background-color: #ee4c4c;
    border: #ee4c4c;
    margin-left: -29px;
    border-radius: 0px;
}

#footer_one_block .col-md-6 {
    padding-right: 0;
    padding-left: 0;
}
/* stop footer block*/


/* start footer two block */

.footer-two-block {
    margin-bottom: 50px;
}

.logo-sonco-footer img {
    width: 140px;
    margin-top: 30px;
}

.logo-sonco-footer {
    height: 165px;
    border-right: 1px solid #c5c5c5;
    margin-top: 3%;
    max-width: 260px;
}

.footer-content-block ul li a {
    color: #616160;
    text-decoration: none;
}

.links-sonco {
    margin-top: 78px;
    line-height: 0.5;
    font-size: 13px;
}

.link-email{
    width: 245px;
}

.nav-link svg {
    margin-right: 10px;
    color: #61615f;
}
/* stop footer two block */

/* start menu mobile block */
#mobile .container{
    padding: 0;
}

#nav_mobile{
    background-color: white;
}

#mobile .icon-menu-list {
    font-size: 24px;
    color: red;
}
#navbar-links-mobile{
    display: none;
}

#mobile #logo {
    width: 104px;
}

.links-menu-mobile {
    position: absolute;
    background-color: #142e5a;
    color: white;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#mobile .icon-calculator-mobile{
    margin-left: 40px;
}

#mobile .icon-calculator-mobile, #mobile .icon-cart-mobile {
    padding: 0;
    width: 45px;
}

#mobile .icon-calculator-mobile button, #mobile .icon-cart-mobile button {
    padding: 0;
}

#mobile #btn_search {
    padding-left: 45px;
}

#mobile button {
    margin-top: 5px;
    color: white;
}

#mobile .nav-item.nav-link a {
    color: white;
    font-weight: bold;
}

#mobile .nav-item.nav-link {
    border: solid 1px #0e2854;
    padding: 15px;
    padding-left: 45px;
}
.border-blue{
    border: solid 1px #0e2854;
}

#mobile #btn_close{
    margin-left: -14px;
}

#mobile .mobile-icon-menu {
    font-size: 40px;
    opacity: 30%;
    padding-top: 20px;
    padding-left: 40px;
}

#mobile .contact p {
    color: white;
    font-weight: bold;
}
#mobile .text-contact-mobile {
    padding-left: 20px;
    padding-top: 20px;
}

#mobile .number-contact-mobile {
    margin-top: -13px;
    font-size: 25px;
    padding-left: 7px;
}

#mobile .icon-mobile-menu-contact {
    background-color: #29b929;
    width: 50px;
    border-radius: 10px;
    height: 50px;
    margin-top: -35px;
}

#mobile .icon-mobile-menu-contact i {
    font-size: 25px;
    padding-top: 10px;
}

#mobile .request-mobile {
    padding: 15px;
    padding-left: 35px;
    font-weight: bold;
}}
/* stop menu mobile block */