@media (max-width: 768px){
    #desktop{
        display: none;
    }
    #nav-one {
        display: none;
    }
    #block_stray .img-stray{
        display: none;
    }
    #block_stray .text-info-stray{
        display: none;
    }

    #block_stray .img-stray-man{
        display: none;
    }
    #block_stray{
        position: relative;
        text-align: center;
    }
    #block_stray .block-img-logo{
        position: absolute;
        top: 0;
    }

    #block_titans .photo-titan-flag{
        display: none;
    }
    #block_titans .photo-titan-hut{
        display: none;
    }

    #block_wt{
        position: relative;
    }

    #block_wt .photo-wt-machine{
        display: none;
    }

    #block_wt .logo-wt{
        width: 100%;
        position: absolute;
        top: 0;
    }

    #block_wt .photo-wt-logo{
        width: 150px;
        margin-top: 5px;
    }

    #block_wt .photo-wt-barricade {
        display: none;
        margin-top: unset;
        margin-left: unset;
    }

    #block_veteran{
        position: relative;
    }

    #block_veteran .text-content {
        padding: unset;
    }

    #block_veteran .photo-veteran-logo{
        position: absolute;
        top: 0;
        margin-top: 15px;
    }
    #block_milhaus{
        align-items: center;
        position: relative;
    }
    #block_milhaus .photo-m-building{
        display: none;
    }

    #block_milhaus .photo-m-logo {
        position: absolute;
        top: 25px;
        width: 80px;
    }

    #block_woodstock{
        position: relative;
    }

    #block_woodstock .photo-wood-flag{
        display: none;
    }
    #block_white_house{
        position: relative;
        align-items: center;
    }
    #block_white_house .img-content {
        position: absolute;
        top: 0;
        text-align: center;
    }

    #block_harley {
        display: none;
    }

    #main_slider .content-text-banner{
        display: block !important;
    }

    #main_slider .content-text-banner h2{
        font-size: 14px!important;
    }
    #main_slider .images-logo-banner img{
        width: 70px!important;
    }
    #block_top_stray, #block_top_stray p {
        font-size: 12px;
    }

    #block_top_stray .imgs-brands .justify-content-center {
        margin-top: 20px;
    }

    #block_top_stray .imgs-brands .justify-content-center .col-3 {
        padding: 10px;
    }
    #block_stray .text-stray {
        margin-top: 80%;
        font-size: 12px;
    }

    #block_woodstock .photo-wood-banner {
        position: unset;
        top: unset; 
        left: unset;
    }

    #block_titans .photo-titan-logo {
        padding-top: unset;
        padding-left:unset;
        width: 130px;
        margin-bottom: 40px;
    }
    #block_veteran .img-fluid.photo-veteran-banner {
        position: unset;
        width: unset;
        top: unset;
        left: unset;
    }

    #block_woodstock .photo-wood-banner {
        position: unset;
        margin-top: 35px;
        left: unset;
    }

    #block_white_house .img-fluid.photo-wh-banner {
        position: relative;
        margin-top: 90%;
        left: unset;
        right: unset;
        bottom: unset;
        width: 250px;
    }
    #block_stray .logo-stray {
        margin-top: 20px;
        width: 140px;
    }
    #block_stray .btn-view-text {
        margin-top: -55px;
    }

    #block_stray .block-video-stray{
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
    }

    #block_titans .text-blue {
        margin-top: 40px;
    }

    #block_wt .img-banner-wt {
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        text-align: center;
    }

    #block_wt .text-wt {
        margin-top: 85%;
    }

    #block_veteran .photo-veteran-banner {
        display: none;
    }

    #block_veteran {
        position: relative;
    }
    #block_veteran .text-content {
        margin-top: 20px;
    }

    #block_veteran .photo-veteran {
        margin-top: 20px;
    }

    #block_milhaus .img-fluid.photo-m-banner{
        display: none;
    }
    #block_milhaus .logo-milhaus{
        width: 100%;
    }

    #block_milhaus .banner-mobile-milhaus {
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
    }

    #block_milhaus .text-milhaus {
        margin-top: 70%;
    }

    #block_woodstock .img-fluid.photo-wood-logo {
        position: unset;
        padding-left: unset;
        top: unset;
        width: 200px;
    }

    #block_woodstock .img-content{
        text-align: center;
    }

    #block_white_house .photo-wh-logo {
        position: absolute;
        top: 3%;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 30%;
    }

    #block_white_house .img-fluid.photo-wh-foto {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
    }

    #block_white_house .text-content{
        margin-top: 90%;
    }

    #block_footer{
        text-align: center;
    }

    #block_footer .icons-socials-media {
        justify-content: center;
    }

    #block_footer .join-list{
        margin-top: 30px
    }

    #block_footer .btn-subscribe{
        margin-left: 20px;
    }
    #block_footer .text-footer-sub.title-footer {
        color: #e92728;
    }

    #block_footer .request-footer{
        margin-top: 6%;
    }

    .footer-two-block .logo-sonco-footer {
        border-right: unset;
    }

    .footer-two-block .logo-sonco-footer{
        max-width: unset;
        width: 100%;
    }

    .footer-two-block .sonco-logo{
        align-items: center;
    }

    #main_slider .carousel-item img {
        margin-left: -500px;
    }
}
@media (min-width: 768.1px){
    #mobile{
        display: none;
    }
    #block_wt .wt-banner-mobile{
        display: none;
    }
    #block_milhaus .banner-m-mobile{
        display: none;
    }

    #block_titans .img-hut-flag-titans {
        padding-left: 6em;
        position: unset;
        top: 18em;
        margin-top: -100px;
    }
    #block_titans .justify-content-center {
        justify-content: unset;
        display: block!important;
    }

    #block_wt {
        margin-top: 0;
    }

    #block_veteran .justify-content-center {
        justify-content: unset!important;
        display: block!important;
    }
    #block_wt .justify-content-center {
        justify-content: unset!important;
        display: block!important;
    }
    
    #block_milhaus .justify-content-center{
        display: block!important;
        justify-content: unset!important;
    }

    @media (max-width: 1370px){
        #block_stray .img-stray {
            margin-top: -8em;
            height: auto;
            background-size: 295px;
        }
        #block_stray .text-stray {
            font-size: 12px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .text-blue{
            font-size: 12px;
        }
        #block_titans .photo-titan-hut {
            width: 370px;
            margin-top: 0;
            margin-left: 0;
        }
        #block_titans .photo-titan-logo {
            padding-top: 3em;
            padding-left: 11em;
        }
        #block_titans .photo-titan-flag {
            width: 80px;
        }

        #block_wt .justify-content-center {
            justify-content: unset!important;
            display: block!important;
        }

        #block_wt .photo-wt-barricade {
            margin-top: -7em;
            margin-left: 13em;
            width: 700px;
        }
        #block_veteran .text-content {
            padding: 1em;
            padding-left: 6em;
        }
        #block_veteran .img-fluid.photo-veteran-banner {
            position: relative;
            width: 300px;
            top: -5em;
            left: 15em;
        }
        #block_milhaus .justify-content-center {
            justify-content: unset!important;
            display: block!important;
        }
        #block_milhaus .photo-m-building {
            max-width: 395px;
            position: absolute;
            margin-left: 0;
        }
        #block_woodstock .img-fluid.photo-wood-flag {
            position: absolute;
            width: 100px;
            margin-left: 2em;
        }
        #block_woodstock .photo-wood-banner {
            position: relative;
            top: 47%;
            left: 10%;
            width: 350px;
        }
        #block_woodstock .img-fluid.photo-wood-logo {
            position: relative;
            padding-left: 10em;
            top: 6em;
            width: 80%;
        }

        #block_white_house .img-fluid.photo-wh-banner {
            position: absolute;
            left: 43%;
            right: 42%;
            bottom: 0;
            width: 300px;
        }

        #block_harley .photo-motor-banner {
            position: relative;
            width: 332px;
            top: 10%;
            left: 30%;
        }

        #block_harley .img-fluid.photo-motor-logo {
            width: 130px;
            margin-left: 5%;
        }
        #footer_one_block .icons-social {
            font-size: 12px;
        }

    }
}

@media (min-width: 320px) and (max-width: 420px){
    #main_slider .content-text-banner h2 {
        font-size: 50px;
    }
    #main_slider .images-logo-banner img {
        width: 165px;
    }
}
